<h1>Edit Employee</h1>

<form method="put" action="/employees/<%= @element.id %>">
    <label for="name">Email:</label>
    <input type="text" id="email" name="employee[email]" value="<%= @element.email %>"/><br>

    <label for="name">Street Address:</label>
    <input type="text" id="street_address" name="employee[street_address]" value="<%= @element.address.street_address %>"/><br>

    <label for="name">City:</label>
    <input type="text" id="city" name="employee[city]" value="<%= @element.address.city %>"/>

    <label for="name">Postal Code:</label>
    <input type="text" id="postal_code" name="employee[postal_code]" value="<%= @element.address.postal_code %>"/><br>

    <label for="name">Phone:</label>
    <input type="text" id="phone" name="employee[phone]" value="<%= @element.phone %>"/><br>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <button type="submit">Submit</button>
</form>