<div class="view">
    <div class="headling-section">
        <h1>Edit Employee</h1>
    </div>

    <form method="put" action="/employees/<%= @element.id %>">
        <div class="relative mb-3 xl:w-96">
            <label for="name">Email:</label>
            <input type="text" id="email" name="employee[email]" value="<%= @element.email %>" class=""/>
        </div>

        <div class="relative mb-3 xl:w-96">
            <label for="name">Street Address:</label>
            <input type="text" id="street_address" name="employee[street_address]" value="<%= @element.address.street_address %>"/>
        </div>

        <div class="relative mb-3 xl:w-96">
            <label for="name">City:</label>
            <input type="text" id="city" name="employee[city]" value="<%= @element.address.city %>"/>
        </div>

        <div class="relative mb-3 xl:w-96">
            <label for="name">Postal Code:</label>
            <input type="text" id="postal_code" name="employee[postal_code]" value="<%= @element.address.postal_code %>"/>
        </div>

        <div class="relative mb-3 xl:w-96">
            <label for="name">Phone:</label>
            <input type="text" id="phone" name="employee[phone]" value="<%= @element.phone %>"/>
        </div>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <button type="submit">Submit</button>
    </form>
</div>
