<% if @message %>
  page.alert(@message)
<% end %>

<div class="view">
  <div class="headling-section">
    <h1>Employees</h1>

    <div class="btn group">
      <span class="btn-effect group-hover:-translate-x-40 ease"></span>
      <span class="btn-content"><%= link_to "New", new_employee_path %></span>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th class="th">Name</th>
        <th class="th">Email</th>
        <th colspan="3" class="th"></th>
      </tr>
    </thead>

    <tbody class="tbody">
      <% @elements.each do |element| %>
        <tr>
          <td class="td"><%= element.user.name %></td>
          <td class="td"><%= element.user.email %></td>
          <td class="td action-link"><%= link_to "Show", element %></td>
          <td class="td action-link"><%= link_to "Edit", edit_employee_path(element.id) %></td>
          <td class="td action-link"><%= link_to "Delete", element, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


