<h1><%= @element.user.name %></h1>

<ul>
    <li><%= @element.user.email %></li>
    <li><%= @element.address.street_address %></li>
    <li><%= @element.address.city %></li>
    <li><%= @element.address.postal_code %></li>
    <li><%= @element.phone %></li>
</ul>