<% if @message %>
  page.alert(@message)
<% end %>

<div class="view">
  <div class="headling-section">
    <h1>Restaurants</h1>

    <div class="btn group">
      <span class="btn-effect group-hover:-translate-x-40 ease"></span>
      <span class="btn-content"><%= link_to "New", new_api_restaurant_path %></span>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th class="th">Name</th>
        <th class="th">Price Range</th>
        <th colspan="2" class="th"></th>
      </tr>
    </thead>

    <tbody class="tbody">
      <% @restaurants.each do |element| %>
        <tr>
          <td class="td"><%= element.name %></td>
          <td class="td"><%= element.price_range %></td>
          <td class="td action-link"><%= link_to "Show", api_restaurant_path(element.id) %></td>
          <td class="td action-link"><%= link_to "Edit", edit_api_restaurant_path(element.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


